<launch>

    <!-- publisher node -->
    <node pkg="topic_tutorial_2" type="Pub_node_1.py" name="Pub_node_1"  />

     <!-- subscriber node -->
    <node pkg="topic_tutorial_2" type="Sub_node_1.py" name="Sub_node_1"  />
    <node pkg="topic_tutorial_2" type="Sub_node_2.py" name="Sub_node_2"  />
    <node pkg="topic_tutorial_2" type="Sub_node_3.py" name="Sub_node_3"  />

    <!-- visualistion with rqt -->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>

</launch>